// Mixin boton
@mixin btn {
    display: inline-block;
    width: 120px;
    padding: 4px 8px;
    border-radius: 14px;
    text-decoration: none;
    text-align: center;    
    color: map-get($colores, blanco);
    background-color: map-get($colores, negro);

    &:hover {
        color: map-get($colores, negro);
        background-color: map-get($colores, hover);

    } 
}

