/* Footer */
.footer {
    background-color: map-get($colores, secundario);
    background-image: map-get($colores, gradiente-navbar);

    .footer__logo {
        width: 100px;
        height: auto;
        padding: 4px 0;        
    }

    &__info h5 {
        font: $fuente-acento-footer;
    }

    &__info ul li a:hover {
        color: map-get($colores, negro);
        text-decoration: underline;
    }

}