.footer {
    background-color: #DF9C16;
    background-image: linear-gradient(90deg, #DF9C16 0%, #F7A400 80%, #FFD600 99%);

    &__logo {
        width: 100px;
        height: auto;
        padding: 4px 0;
    }

    &__info h5 {
        font: $fuente-acento-footer;
    }

    &__info ul li a:hover {
        color: $color-negro;
        text-decoration: underline;
    }

}