//index

#base {
    background-color: map-get($colores, primario);
    background-image: map-get($colores, gradiente-body);

    @import 'header';

    @import 'secciones';

    @import 'footer';

}

//page1

#base__pg1 {
    background-color: map-get($colores, primario);
    background-image: map-get($colores, gradiente-body);

    @import 'header';

   

    @import 'footer';

}