/* Sección intro */
.introi {
    height: 300px;
    width: auto;
    background-image: url(..//img/bg/front-view-1800px.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;

    &__items {
        background-color: map-get($colores, opacity-bg);
        text-shadow: map-get($colores, text-shadow1);

        h1 {
            font: $fuente-acento-intro;
        }
        p{
            font: $fuente-subtitle-intro;
        }
    }
}

//Media queries tablet

@media (max-width:768px) {
    .introi__items h1 {
        font-size: 40px;       
    }
    
    .introi__items p {
        font-size: 20px;
    }
}

/* Sección 1 Productos */
.seccion1 {
    background-color: map-get($colores, blanco);

    &__items h2 {
        font: $fuente-acento-seccion; 
    }

    .btn--seccion {
        @include btn;
    }
}
/* Seccion 2 Equipo */
.seccion2 {
    background-color: map-get($colores, blanco);

    &__title {
        font: $fuente-acento-seccion;
    }

    .btn--seccion {
        @include btn;
        
    }
}

/* Seccion 3 Ubicacion e info */

.seccion3 {
    background-color: map-get($colores, blanco);

    &__foto {
        width: 50%;
        height: auto;
    }

    &__title {
        font: $fuente-acento-seccion;
    }
    .btn--seccion {
        @include btn;
    }
}