//Colores

$color-secundario: #DF9C16;
$color-2rio-complementario1: #F7A400;
$color-2rio-complementario2:#FFD600;
$color-primario: #d9d9d9;
$color-1rio-complementario: #f6f2f2;
$color-hover: #FCDEA4;
$color-opacity-bg: rgba(0, 0, 0, 0.35);
$color-text-shadow1: rgb(11, 11, 11) 2px 2px 1px;
$color-blanco: #ffff;
$color-negro: #000000; 

//tipografia

$fuente-acento-intro: normal 60px/2 'Pacifico', cursive;
$fuente-subtitle-intro: italic 32px/1 'Poppins', sans-serif;
$fuente-acento-seccion: normal 32px/1 'Pacifico', cursive;
$fuente-acento-footer: normal 20px/2 'Pacifico', cursive;

//Media

$tablet: 768px;

